body{

    background-image: url("https://pixabay.com/photos/herbs-jackie-matthews-copyright-6079027/");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}